astropy==4.3.1
astroquery==0.4.5
backcall==0.2.0
batman-package==2.4.8
beautifulsoup4==4.10.0
bleach==4.1.0
Bottleneck==1.3.2
brotlipy==0.7.0
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
configparser==5.2.0
cryptography==36.0.0
cycler==0.11.0
decorator==5.1.1
filelock==3.6.0
fonttools==4.25.0
glob2==0.7
h5py==3.6.0
html5lib==1.1
idna==3.3
importlib-metadata==4.8.2
ipython==7.31.1
jedi==0.18.1
Jinja2==2.11.3
keyring==23.5.0
kiwisolver==1.3.2
libarchive-c==2.9
llvmlite==0.38.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.2
menuinst==1.4.18
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
packaging==21.3
pandas==1.3.4
parso==0.8.3
pickleshare==0.7.5
Pillow==9.0.1
pip==21.2.4
pkginfo==1.8.2
prompt-toolkit==3.0.20
psutil==5.8.0
pycosat==0.6.3
pycparser==2.21
pyerfa==2.0.0
Pygments==2.11.2
pyOpenSSL==22.0.0
pyparsing==3.0.4
pyreadline==2.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
pyvo==1.2.1
pywin32==302
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.27.1
ruamel-yaml-conda==0.15.100
scipy==1.7.3
setuptools==58.0.4
sip==4.19.13
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sunnyhills==0.0.1
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
transitleastsquares==1.0.31
typing-extensions==3.10.0.2
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.37.1
win-inet-pton==1.1.0
wincertstore==0.2
wotan==1.10
zipp==3.7.0
